<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Primary Meta Tags -->
  <title><%= title %> | CSE Motors</title>
  <meta name="title" content="<%= title %> | CSE Motors">
  <meta name="description" content="CSE Motors - Kisumu's premier dealership offering quality vehicles including off-road models. Visit us for the best selection in Kenya.">
  <meta name="keywords" content="cars, dealership, vehicles, Kisumu, Kenya, off-road, Jeep Wrangler, Toyota, CSE Motors">
  <meta name="author" content="George Olwal">
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://csemotors.com/">
  <meta property="og:title" content="<%= title %> | CSE Motors">
  <meta property="og:description" content="CSE Motors - Kisumu's premier dealership offering quality vehicles including off-road models. Visit us for the best selection in Kenya.">
  <meta property="og:image" content="/images/site/icon.png">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://csemotors.com/">
  <meta property="twitter:title" content="<%= title %> | CSE Motors">
  <meta property="twitter:description" content="CSE Motors - Kisumu's premier dealership offering quality vehicles including off-road models. Visit us for the best selection in Kenya.">
  <meta property="twitter:image" content="/images/site/icon.png">
  
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/images/site/favicon-32x32.png">
  
  <!-- Canonical URL -->
  <link rel="canonical" href="https://csemotors.com<%= typeof canonicalUrl !== 'undefined' ? canonicalUrl : '' %>">    <!-- Styles -->
  <link rel="stylesheet" href="/css/styles.css">
  
  <!-- Scripts -->
  <script src="/js/script.js" defer></script>
  <script src="/js/organization-schema.js" defer></script>
  <script src="/js/vehicle-schema.js" defer></script>
</head>