<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    
<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        
        <main>
            <%- include('../partials/breadcrumbs') %>
            <div class="current-page-indicator">You are here: <%= title %></div>
            <%- body %>
        </main>
        
        <%- include('../partials/footer') %>
    </div>
</body>
</html>